.vertically-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.square {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.square:before {
  content: "";
  display: block;
  margin-top: 100%;
}
.bare {
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
html {
  background-color: white;
  font-family: 'Lato', sans-serif;
}
h1 {
  font-weight: 900;
  font-size: 48px;
  text-align: center;
  margin: 20px 0;
}
@media screen and (min-width: 900px) {
  h1 {
    height: 70px;
  }
}
#container {
  position: relative;
  width: 96%;
  margin: 0 auto;
}
@media screen and (min-width: 900px) {
  #container {
    position: absolute;
    top: 110px;
    bottom: 40px;
    left: 2%;
  }
}
.panel {
  float: none;
  width: auto;
}
@media screen and (min-width: 900px) {
  .panel {
    width: 50%;
    height: 100%;
    float: left;
  }
}
#image-panel #image-field {
  margin: 0 5%;
  width: 90%;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media screen and (min-width: 900px) {
  #image-panel #image-field {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
#image-panel #image-field img,
#image-panel #image-field canvas {
  width: 100%;
}
#image-panel #image-field canvas {
  position: absolute;
  top: 0;
  left: 0;
}
#image-panel #image-field #rendering {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: gray;
  opacity: 0.8;
}
#image-panel #image-field #rendering-inner {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  margin-top: -0.5em;
  font-size: 48px;
  text-align: center;
  color: white;
}
.tab-inner {
  background-color: SlateBlue;
  color: white;
  text-align: center;
  font-weight: bold;
}
#color-sliders {
  background-color: #4D4D4D;
  border-radius: 20px;
  *zoom: 1;
}
#color-sliders:before,
#color-sliders:after {
  content: " ";
  display: table;
}
#color-sliders:after {
  clear: both;
}
.color-slider {
  display: none;
  margin: 10px;
}
#RGB-slider {
  display: block;
}
#color-field {
  margin: 5%;
}
#color-tabs {
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 90%;
  height: 50px;
  margin: 0 auto;
}
.tab {
  height: 100%;
  width: 33.33333333%;
  float: left;
}
.tab-inner {
  margin: 0 5px;
  height: 50px;
  width: auto;
  border-radius: 10px 10px 0 0;
  font-size: 20px;
  line-height: 50px;
}
.color-parameter-wrap {
  width: 100%;
  height: 50px;
  position: relative;
}
.color-parameter-label {
  display: block;
  width: 40px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 32px;
  font-weight: bold;
  line-height: 50px;
  text-align: center;
}
#RGB-R-label {
  color: #F09E9E;
}
#RGB-G-label {
  color: #7DF791;
}
#RGB-B-label {
  color: #AFE5F9;
}
.color-parameter {
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 40px;
  right: 55px;
}
.color-slider-wrapper {
  width: 100%;
  height: 8px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  background-color: white;
}
.color-slider-pinch {
  width: 10px;
  height: 30px;
  position: relative;
  top: 50%;
  left: 0%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-color: #4D4D4D;
  border: solid 2px white;
}
.color-value {
  display: block;
  width: 55px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
  font-weight: normal;
  line-height: 50px;
  text-align: center;
  color: white;
}
@media screen and (min-width: 900px) {
  #color-field {
    position: relative;
    height: 90%;
  }
  #color-tabs {
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: absolute;
    top: 0;
    height: 50px;
    left: 30px;
    right: 0;
  }
  #color-tabs .tab {
    height: 100%;
    width: 110px;
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: left;
  }
  #color-tabs .tab .tab-inner {
    font-size: 26px;
  }
  #color-sliders {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .color-slider {
    margin: 20px;
  }
}
