/*! color-of-anime | MIT License | http://hakatashi.github.io/color-of-anime/ */

// utils

.transform(@transform) {
	-webkit-transform: @transform;
	-moz-transform: @transform;
	-o-transform: @transform;
	transform: @transform;
}

.user-select(@style) {
	-webkit-touch-callout: @style;
	-webkit-user-select: @style;
	-khtml-user-select: @style;
	-moz-user-select: @style;
	-ms-user-select: @style;
	user-select: @style;
}

.animation(@animation) {
	-webkit-animation: @animation;
	-moz-animation: @animation;
	-o-animation: @animation;
	animation: @animation;
}

.animation-timing-function(@animation-timing-function) {
	-webkit-animation-timing-function: @animation-timing-function;
	animation-timing-function: @animation-timing-function;
}

.animation-iteration-count(@animation-iteration-count) {
	-webkit-animation-iteration-count: @animation-iteration-count;
	animation-iteration-count: @animation-iteration-count;
}

.rotation() {
	from {
		.transform(rotate(0deg));
	}
	to {
		.transform(rotate(360deg));
	}
}

@keyframes rotation {
	.rotation();
}

@-webkit-keyframes rotation {
	.rotation();
}

.animateRotation {
	.transform(rotate(0deg));
	.animation(rotation 1s);
	.animation-timing-function(linear);
	.animation-iteration-count(infinite);
}

.vertically-center {
	position: relative;
	top: 50%;
	.transform(translateY(-50%));
}

.horizontally-center {
	position: relative;
	left: 50%;
	.transform(translateX(-50%));
}

.transform-center {
	position: relative;
	top: 50%;
	left: 50%;
	.transform(translateX(-50%) translateY(-50%));
}

.bare {
	display: block;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.clearfix {
	zoom: 1;

	&:before, &:after {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}
}

.box-shadow(@box-shadow) {
	-webkit-box-shadow: @box-shadow;
	-moz-box-shadow: @box-shadow;
	box-shadow: @box-shadow;
}

// fontface

@font-face {
	font-family: "Ionicons";
	src: url("../fonts/ionicons.eot");
	src:
		url("../fonts/ionicons.eot") format("embedded-opentype"),
		url("../fonts/ionicons.ttf") format("truetype"),
		url("../fonts/ionicons.woff") format("woff"),
		url("../fonts/ionicons.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

// general rules

html {
	background-color: white;
	font-family: 'Lato', sans-serif;
}

a {
	&, &:link, &:visited, &:hover, &:active {
		text-decoration: none;
		color: #5998DF;
	}
}

h1 {
	font-weight: 900;
	font-size: 48px;
	text-align: center;

	margin: 20px 0;

	@media screen and (min-width: 900px) {
		height: 70px;
	}
}

@languages: 'en', 'ja';

.-(@i: length(@languages)) when (@i > 0) {
	@name: e(extract(@languages, @i));
	.text-@{name} {
		display: none;
	}
	html.lang-@{name} .text-@{name} {
		display: inline;
	}
	.-((@i - 1));
} .-;

// layout

#container {
	position: relative;

	width: 96%;
	margin: 0 auto;

	@media screen and (min-width: 900px) {
		position: absolute;
		top: 110px;
		bottom: 40px;
		left: 2%;
	}
}

.panel {
	float: none;
	width: auto;

	@media screen and (min-width: 900px) {
		width: 50%;
		height: 100%;
		float: left;
	}
}

#image-panel {
	position: relative;
}

#rendering {
	&:before {
		content: "\f29c";
		font-family: "Ionicons";
		.animateRotation;
	}

	width: 100%;
	height: auto;
	line-height: 40px;

	text-align: center;

	font-size: 26px;
}

#image-field {
	margin: 0 5%;
	width: 90%;
	position: relative;

	.user-select(none);

	img, canvas {
		width: 100%;
	}

	canvas {
		position: absolute;
		top: 0;
		left: 0;
	}
}

#image-info {
	width: 100%;
	height: auto;
	line-height: 30px;

	text-align: center;

	font-size: 18px;
}

@tab-height: 50px;
@tab-width: 110px;

.tab-inner {
	background-color: SlateBlue;
	color: white;
	text-align: center;
	font-weight: bold;
	cursor: pointer;

	.tab.selected & {
		background-color: darken(SlateBlue, 20%);
		cursor: auto;
	}
}

@panel-color: #4D4D4D;

#panel {
	background-color: @panel-color;
	border-radius: 15px;
	color: white;

	.clearfix;
}

.colorset-sliders {
	display: none;
	margin: 10px;
}

#colorset-sliders-RGB {
	display: block;
}

#color-field {
	margin: 5%;
}

#color-tabs {
	.bare;

	width: 90%;
	height: @tab-height;
	margin: 0 auto;
}

.tab {
	height: 100%;
	width: 100% / 3;

	float: left;
}

.tab-inner {
	margin: 0 5px;
	height: @tab-height;
	width: auto;
	border-radius: 10px 10px 0 0;

	font-size: 20px;
	line-height: @tab-height;
}

@parameter-height: 50px;
@label-width: 40px;
@value-width: 55px;
@slider-width: 8px;

.color-parameter-wrap {
	width: 100%;
	height: @parameter-height;

	position: relative;
}

.color-parameter-label {
	display: block;
	width: @label-width;
	height: 100%;

	position: absolute;
	top: 0;
	left: 0;

	font-size: 32px;
	font-weight: bold;
	line-height: @parameter-height;

	text-align: center;
	color: white;
}

.color-parameter {
	display: block;
	height: 100%;

	position: absolute;
	top: 0;
	left: @label-width;
	right: @value-width;
}

.color-slider-wrapper {
	position: relative;

	width: 100%;
	height: @slider-width;
	.vertically-center;

	border-radius: @slider-width;
	border: solid 2px white;

	background-color: white;
}

.color-slider-pinch {
	width: 10px;
	height: 30px;

	position: relative;
	top: 50%;
	left: 0%;
	.transform(translateX(-50%) translateY(-50%));

	background-color: #4D4D4D;
	border: solid 2px white;
}

.color-value {
	display: block;
	width: @value-width;
	height: 100%;

	position: absolute;
	top: 0;
	right: 0;

	font-size: 20px;
	font-weight: normal;
	line-height: @parameter-height;

	text-align: center;

	color: white;
}

.color-infos {
	margin: 20px;
	.clearfix;
}

.color-preview {
	width: 50%;
	height: 130px;
	float: left;
}

.color-preview-square {
	width: 100%;
	height: 100px;
	border: solid 2px white;
	border-radius: 3px;
	background-color: black;
}

.color-preview-value {
	width: 100%;
	height: 30px;

	font-size: 24px;
	line-height: 30px;
	color: white;
	text-align: center;
}

.submit-wrapper {
	width: 45%;
	height: 130px;
	float: right;
}

#color-name {
	height: 80px;

	color: white;
	font-size: 20px;
	text-align: center;
	line-height: 35px;
	word-wrap: break-word;
}

.button {
	width: 100%;
	height: 50px;
	display: block;

	border: none;
	border-radius: 5px;
	font-family: inherit;
	font-size: 24px;
	background-color: #EEE;
}

.submit {
	.button;
}

#result-field {
	display: none;
}

#score-field {
	width: 100%;
	padding-top: 10px;
}

#score-text {
	width: 100%;
}

#score-label {
	text-align: center;
	text-transform: uppercase;

	font-weight: bold;
	font-size: 24px;

	height: 30px;
	line-height: 30px;
}

#score-numeral {
	font-size: 96px;
	text-align: center;

	height: 90px;
	line-height: 80px;
}

@score-bar-height: 3px;

#score-bar {
	position: relative;

	width: 100%;
	height: @score-bar-height;

	background-color: white;
}

#score-bar-inner {
	position: absolute;
	top: 0;
	left: 0;

	width: 0%;
	height: 100%;

	background-color: #25CC39;

	.box-shadow(0 0 5px 0 #54F55C);
}

#result-color {
	margin: 10px 20px 0;
}

#result-color-labels {
	.clearfix;
}

#result-color-previews {
	height: 80px;
	border: solid 2px white;
	border-radius: 5px;
	overflow: hidden;
	.clearfix;
}

#result-color-infos {
	.clearfix;
}

.halfbox {
	.bare;
	display: block;
	width: 50%;
	height: 100%;
	float: left;
}

.result-color-label, .result-color-preview, .result-color-info {
	.halfbox;
}

.result-color-preview {
	cursor: pointer;
}

#your-color-preview {
	background-color: black;
}

#original-color-preview {
	background-color: white;
}

.result-color-label, .result-color-value, .result-color-name {
	text-align: center;
	height: 20px;
	line-height: 20px;
}

.go-next {
	.button;

	width: 200px;
	margin: 0 auto 10px;
}

@media screen and (min-width: 900px) {
	#image-field {
		.vertically-center;
	}

	#rendering {
		height: 40px;
		font-size: 30px;
	}

	#image-info {
		height: 30px;
		font-size: 18px;
	}

	#color-field {
		position: relative;

		height: 90%;
	}

	#color-tabs {
		.bare;

		position: absolute;
		top: 0;
		height: @tab-height;
		left: 30px;
		right: 0;

		.tab {
			height: 100%;
			width: @tab-width;
			.bare;
			float: left;

			.tab-inner {
				font-size: 26px;
			}
		}
	}

	#panel {
		position: absolute;
		top: @tab-height;
		bottom: 0;
		left: 0;
		right: 0;
	}
}
