.user-select(@style) {
	-webkit-touch-callout: @style;
	-webkit-user-select: @style;
	-khtml-user-select: @style;
	-moz-user-select: @style;
	-ms-user-select: @style;
	user-select: @style;
}

.vertically-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.square {
	&:before {
		content: "";
		display: block;
		margin-top: 100%;
	}

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.bare {
	display: block;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

html {
	background-color: #f5f5f5;
	font-family: 'Lato', sans-serif;
}

h1 {
	@media screen and (min-width: 901px) {
		height: 70px;
		margin: 40px 0;
	}

	font-weight: 900;
	font-size: 48px;
	text-align: center;
}

#container {
	@media screen and (min-width: 901px) {
		position: absolute;
		top: 150px;
		bottom: 40px;
		left: 2%;
	}

	@media screen and (max-width: 900px) {
		position: relative;
	}

	width: 96%;
	margin: 0 auto;
}

.panel {
	@media screen and (min-width: 901px) {
		width: 50%;
		height: 100%;
		float: left;
	}

	@media screen and (max-width: 900px) {
		float: none;
		width: auto;
	}
}

#image-panel {
	#image-field {
		margin: 0 5%;
		width: 90%;
		position: relative;

		@media screen and (min-width: 901px) {
			.vertically-center;
		}

		.user-select(none);

		img, canvas {
			width: 100%;
		}

		canvas {
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}

#color-panel {
	#color-field {
		margin: 5%;

		@media screen and (min-width: 901px) {
			height: 90%;
		}

		#color-tabs {
			height: 50px;
			width: 100%;
			.bare;

			.tab {
				height: auto;
				width: 100px;
				.bare;
				float: left;

				padding: 5px 5px 0;

				.tab-inner {
					height: 100%;
					width: auto;
					background-color: Orchid;
					border-radius: 10px 10px 0 0;

					color: white;
					text-align: center;
					font-size: 30px;
				}
			}
		}
	}
}
