// utils

.transform(@transform) {
	-webkit-transform: @transform;
	-moz-transform: @transform;
	-o-transform: @transform;
	transform: @transform;
}

.user-select(@style) {
	-webkit-touch-callout: @style;
	-webkit-user-select: @style;
	-khtml-user-select: @style;
	-moz-user-select: @style;
	-ms-user-select: @style;
	user-select: @style;
}

.animation(@animation) {
	-webkit-animation: @animation;
	-moz-animation: @animation;
	-o-animation: @animation;
	animation: @animation;
}

.animation-timing-function(@animation-timing-function) {
	-webkit-animation-timing-function: @animation-timing-function;
	animation-timing-function: @animation-timing-function;
}

.animation-iteration-count(@animation-iteration-count) {
	-webkit-animation-iteration-count: @animation-iteration-count;
	animation-iteration-count: @animation-iteration-count;
}

.rotation() {
	from {
		.transform(rotate(0deg));
	}
	to {
		.transform(rotate(360deg));
	}
}

@keyframes rotation {
	.rotation();
}

@-webkit-keyframes rotation {
	.rotation();
}

.animateRotation {
	.transform(rotate(0deg));
	.animation(rotation 1s);
	.animation-timing-function(linear);
	.animation-iteration-count(infinite);
}

.vertically-center {
	position: relative;
	top: 50%;
	.transform(translateY(-50%));
}

.horizontally-center {
	position: relative;
	left: 50%;
	.transform(translateX(-50%));
}

.transform-center {
	position: relative;
	top: 50%;
	left: 50%;
	.transform(translateX(-50%) translateY(-50%));
}

.square {
	&:before {
		content: "";
		display: block;
		margin-top: 100%;
	}

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.bare {
	display: block;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.clearfix {
	*zoom: 1;

	&:before, &:after {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}
}

// general rules

html {
	background-color: white;
	font-family: 'Lato', sans-serif;
}

a {
	&, &:link, &:visited, &:hover, &:active {
		text-decoration: none;
		color: #5998DF;
	}
}

h1 {
	font-weight: 900;
	font-size: 48px;
	text-align: center;

	margin: 20px 0;

	@media screen and (min-width: 900px) {
		height: 70px;
	}
}

#container {
	position: relative;

	width: 96%;
	margin: 0 auto;

	@media screen and (min-width: 900px) {
		position: absolute;
		top: 110px;
		bottom: 40px;
		left: 2%;
	}
}

.panel {
	float: none;
	width: auto;

	@media screen and (min-width: 900px) {
		width: 50%;
		height: 100%;
		float: left;
	}
}

#image-panel {
	position: relative;
}

#rendering {
	&:before {
		content: "\f29c";
		font-family: "Ionicons";
		.animateRotation;
	}

	width: 100%;
	height: auto;
	line-height: 40px;

	text-align: center;

	font-size: 26px;
}

#image-field {
	margin: 0 5%;
	width: 90%;
	position: relative;

	.user-select(none);

	img, canvas {
		width: 100%;
	}

	canvas {
		position: absolute;
		top: 0;
		left: 0;
	}
}

#image-info {
	width: 100%;
	height: auto;
	line-height: 30px;

	text-align: center;

	font-size: 18px;
}

@tab-height: 50px;
@tab-width: 110px;

// designing

.tab-inner {
	background-color: SlateBlue;
	color: white;
	text-align: center;
	font-weight: bold;
}

#color-sliders {
	background-color: #4D4D4D;
	border-radius: 15px;

	.clearfix;
}

.color-slider {
	display: none;
	margin: 10px;
}

#RGB-slider {
	display: block;
}

// positioning

#color-field {
	margin: 5%;
}

#color-tabs {
	.bare;

	width: 90%;
	height: @tab-height;
	margin: 0 auto;
}

.tab {
	height: 100%;
	width: 100% / 3;

	float: left;
}

.tab-inner {
	margin: 0 5px;
	height: @tab-height;
	width: auto;
	border-radius: 10px 10px 0 0;

	font-size: 20px;
	line-height: @tab-height;
}

.color-infos {
	margin: 0 20px 20px;
}

.color-preview {
	width: 50%;
	height: 130px;
	float: left;
}

.color-preview-square {
	width: 100%;
	height: 100px;
	border: solid 2px white;
	border-radius: 3px;
	background-color: black;
}

.color-preview-value {
	width: 100%;
	height: 30px;

	font-size: 24px;
	line-height: 30px;
	color: white;
	text-align: center;
}

.submit-wrapper {
	width: 45%;
	height: 130px;
	float: right;
}

.something {
	height: 80px;
}

.submit {
	width: 100%;
	height: 50px;

	border: none;
	border-radius: 5px;
	font-family: inherit;
	font-size: 24px;
	background-color: #EEE;
}

@parameter-height: 50px;
@label-width: 40px;
@value-width: 55px;
@slider-width: 8px;

.color-parameter-wrap {
	width: 100%;
	height: @parameter-height;

	position: relative;
}

.color-parameter-label {
	display: block;
	width: @label-width;
	height: 100%;

	position: absolute;
	top: 0;
	left: 0;

	font-size: 32px;
	font-weight: bold;
	line-height: @parameter-height;

	text-align: center;
}

#RGB-R-label {
	color: #F09E9E;
}

#RGB-G-label {
	color: #7DF791;
}

#RGB-B-label {
	color: #AFE5F9;
}

.color-parameter {
	display: block;
	height: 100%;

	position: absolute;
	top: 0;
	left: @label-width;
	right: @value-width;
}

.color-slider-wrapper {
	position: relative;

	width: 100%;
	height: @slider-width;
	.vertically-center;

	border-radius: @slider-width;
	border-style: solid;
	border-width: 1px;
	border-color: white;

	background-color: white;
}

.color-slider-pinch {
	width: 10px;
	height: 30px;

	position: relative;
	top: 50%;
	left: 0%;
	.transform(translateX(-50%) translateY(-50%));

	background-color: #4D4D4D;
	border: solid 2px white;
}

.color-value {
	display: block;
	width: @value-width;
	height: 100%;

	position: absolute;
	top: 0;
	right: 0;

	font-size: 20px;
	font-weight: normal;
	line-height: @parameter-height;

	text-align: center;

	color: white;
}

@media screen and (min-width: 900px) {
	#image-field {
		.vertically-center;
	}

	#rendering {
		height: 40px;
		font-size: 30px;
	}

	#image-info {
		height: 30px;
		font-size: 18px;
	}

	#color-field {
		position: relative;

		height: 90%;
	}

	#color-tabs {
		.bare;

		position: absolute;
		top: 0;
		height: @tab-height;
		left: 30px;
		right: 0;

		.tab {
			height: 100%;
			width: @tab-width;
			.bare;
			float: left;

			.tab-inner {
				font-size: 26px;
			}
		}
	}

	.color-infos {
		margin: 0 40px 40px;
	}

	#color-sliders {
		position: absolute;
		top: @tab-height;
		bottom: 0;
		left: 0;
		right: 0;
	}

	.color-slider {
		margin: 20px;
	}
}
